body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Barriecito", serif;
    text-align: center;
    background: #303e44;
    animation: colorchange 10s infinite;
    cursor: url('../assets/defaultCursor.png'), auto;
}

#info {
    font-size: 1.6rem;
}

h1 {
    font-size: 11rem;
    margin-bottom: 60px;
    color: #ff9040;
}

p {
    color: white;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: rgb(215, 184, 255);
    cursor: url('../assets/clickCursor.png'), auto;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    cursor: url('../assets/clickCursor.png'), pointer;
    background-color: #ff9040;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffbb5b;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    font-size: 1.2rem;
}

@keyframes colorchange {
    0%   {background: #303e44;}
    16.6%  {background: #2f3144;}
    33.2%  {background: #392f44;}
    49.8%  {background: #442f42;}
    66.4%  {background: #2f443c;}
    83%  {background: #293837;}
    100% {background: #303e44;}
}

@-webkit-keyframes colorchange {
    0%   {background: #303e44;}
    16.6%  {background: #2f3144;}
    33.2%  {background: #392f44;}
    49.8%  {background: #442f42;}
    66.4%  {background: #2f443c;}
    83%  {background: #293837;}
    100% {background: #303e44;}
}